.field{
    width: 1300px;
    height: 570px;
    border: 2px solid khaki;
    background-color: cornflowerblue;
    position: fixed;
    left: 0px;
    top: 0px;

    
}
.cricket{
    position: relative;
    left: 10px;
    top: 10px;
    background: transparent;
    
}
.field:hover .cricket{
    transform: rotate(-60deg);
    transition: transform 1s ease-out; 
    transform-origin: top right;
}
.ball{
    height: 40px;
    width: 40px;
    border: 1px solid lightgreen;
    background-color: lightgreen;
    border-radius: 20px;
    position: relative;
    left: 495px;
    top: -25px;
}
.field:hover .ball{
    transform: translate(750px,-250px);
    transition: transform 1s ease-out .9s;
}